<div class="gallery">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="gallery-banner">
          <div class="row">
            <div class="col p-0">
              <div class="gallery-image">
                <div class="row m-0">
                  <div class="col">
                    <div class="row">
                      <div class="col-xl-7 col-lg-7 col-mg-6 col-sm-12">
                        <div class="gallary-poster">
                          <img src="assets/images/gallery-image.jpg">
                        </div>
                      </div>
                      <div class="col-xl-5 col-lg-5 col-mg-6 col-sm-12">
                        <div class="gallery-upload h-100">
                          <div class="gallery-upload-card h-100">
                            <form [formGroup]="ceremonyForm" (ngSubmit)="uploadFile()">
                              <div class="row">
                                <div class="col">
                                  <div class="gallery-upload-card-header">
                                    <label class="uploader">
                                      <div class="uploader-icon">
                                        <span> <img src="assets/images/uploadericon.svg"></span>
                                      </div>
                                      <div class="uploader-text">
                                        <span> Upload A Photo/Video </span>
                                      </div>
                                      <input type="file" id="customerFile"
                                        (change)="handleFileInput($event.target.files)" class="image-input" multiple
                                        accept="video/*, image/*">
                                    </label>
                                    <label *ngIf="imagePreview && imagePreview.length > 0" class="uploader ml-4"
                                      (click)="openImageModel()">
                                      <span class="budge">{{imagePreview.length}}</span>
                                      <div class="uploader-icon view-icon">
                                        <span> <img src="assets/images/eye.png"></span>
                                      </div>
                                      <div class="uploader-text">
                                        <span>Preview</span>
                                      </div>
                                    </label>
                                  </div>
                                  <div class="gallery-upload-card-body">
                                    <div class="row">
                                      <div class="col">
                                        <div class="form-group label-floating"
                                          [ngClass]="{'is-fill': ceremonyForm.controls['ceremony_id'].value, 'is-invalid': !ceremonyForm.controls['ceremony_id'].valid}">
                                          <ng-select [items]="ceremonies" [selectOnTab]="true" bindLabel="ceremony_name"
                                            bindValue="id" autoCorrect="'on'" clearable='true'
                                            placeholder="Select Ceremony" formControlName='ceremony_id'></ng-select>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col">
                                        <div class="form-group form-check text-center">
                                          <label class="form-check-radio">Photo
                                            <input type="radio" checked="checked" formControlName="medea_type"
                                              value="PHOTO" name="medea_type">
                                            <span class="checkmark"></span>
                                          </label>
                                          <span class="divider-line"></span>
                                          <label class="form-check-radio">Video
                                            <input type="radio" formControlName="medea_type" name="medea_type"
                                              value="VIDEO">
                                            <span class="checkmark"></span>
                                          </label>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="gallery-upload-card-footer">
                                    <div class="row">
                                      <div class="col">
                                        <div class="form-group text-center">
                                          <button class="btn btn-primary btn-round" type="submit">Save</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="gallery-tab">
          <div class="row">
            <div class="col">
              <ul class="nav nav-tabs row m-0">
                <li *ngFor="let ceremony of ceremonies; index as i" class="col">
                  <a [ngClass]="{'active': getClassActive(ceremony)}" href="javascript:void(0)"
                    (click)="openCeremony(ceremony)">{{ceremony.ceremony_name}}</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="tab-content">
                <div class="tab-pane fade in active show" role="tabpanel">
                  <div class="gallery-list-head">
                    <div class="row">
                      <div class="col">
                        <div class="gallery-list-option">
                          <div class="row">
                            <div class="col">
                              <div class="gallery-switch">
                                <span [ngClass]="{'active': photoSwitch}"
                                  (click)="getPhotoDetails('PHOTO')">Photo</span>
                                <span [ngClass]="{'active': !photoSwitch}"
                                  (click)="getPhotoDetails('VIDEO')">Video</span>
                              </div>
                              <div class="gallery-switch">
                                <button class="btn-fat-icon">
                                  <img src="assets/images/delete.svg">
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="gallery-list-body">
                    <div class="row">
                      <div *ngFor="let item of photoGallery; index as i" class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="gallery-card">
                          <div class="gallery-card-body d-flex align-items-center">
                            <div class="gallery-thumbnil">
                              <img *ngIf="photoSwitch && item.medea_url" [src]="item.medea_url">
                              <!-- <video *ngIf="!photoSwitch && item.medea_url" [src]="item.medea_url" controls
                                controlsList="nodownload"></video> -->
                              <plyr *ngIf="!photoSwitch && item.medea_url" plyrTitle="Video 1" [plyrOptions]="options"
                                [plyrPlaysInline]="true" [plyrSources]="item.medea_url" (plyrInit)="player = $event"
                                (plyrPlay)="played($event)">
                              </plyr>
                              <div class="image-loader loader" [class.loader-hidden]="!imageLoader">
                                <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66"
                                  xmlns="http://www.w3.org/2000/svg">
                                  <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33"
                                    cy="33" r="30"></circle>
                                </svg>
                              </div>
                            </div>
                            <div *ngIf="photoSwitch && item.medea_url" class="blur-effect"
                              [style.backgroundImage]="'url('+ item.medea_url +')'"></div>
                          </div>
                          <div class="gallery-card-footer">
                            <div class="gallery-icon">
                              <button class="btn-fat-icon">
                                <img src="assets/images/delete.svg">
                              </button>
                              <button class="btn-fat-icon">
                                <img src="assets/images/edit.svg">
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12" *ngIf="photoGallery && photoGallery.length === 0">
                        <div class="nodata">
                          <div class="nodata-box">
                            <h1>{{photoSwitch? 'image': 'video'}} not available !!</h1>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="imageView" role="dialog" aria-hidden="true" tabindex="-1" #imageView>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Image Preview</h4>
        <button type="button" class="close mat-button" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <div class="swiper-container image-view-swiper">
              <div class="swiper-wrapper">
                <div *ngFor="let priview of imagePreview; let i = index" class="swiper-slide">
                  <div class="image-view">
                    <div class="remove-img" (click)="removeImage(priview)">
                      <span>
                        <i class="fa fa-times"></i>
                      </span>
                    </div>
                    <img *ngIf="priview.media_type === 'PHOTO'" [src]="priview.url">
                    <plyr *ngIf="priview.media_type === 'VIDEO'" plyrTitle="Video 1" [plyrOptions]="options"
                      [plyrPlaysInline]="true" [plyrSources]="priview.url" (plyrInit)="player = $event"
                      (plyrPlay)="played($event)">
                    </plyr>
                  </div>
                </div>
              </div>
              <!-- Add Arrows -->
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer justify-content-center">
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</div>
