<div class="row gift-product-list">
  <div class="col">
    <div class="row bg-white mt-4">
      <div class="col">
        <div class="gift-product-title">
          <div class="gift-product-headt-text">
            <span>REGISTRY LIST</span>
          </div>
          <div class="gift-product-headt-button">
            <button class="btn btn-primary btn-round">
              Add MORE
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row gr-items">
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <div class="gr-items-box">
          <div class="gr-items-card">
            <div class="gr-items-description">
              <div class="gr-item-name">
                <span>Charbonnelet Walker</span>
              </div>
              <div class="gr-item-details">
                <span>7 Piece Dark Marc de Champagne Truffles (135g)</span>
              </div>
              <div class="gr-item-prize">
                <div class="pd-price">
                  <div class="pd-price-span pd-price-p1">
                    <span>₹246</span>
                  </div>
                  <div class="pd-price-span pd-price-p2">
                    <span>₹999</span>
                  </div>
                  <div class="pd-price-span pd-price-p3">
                    <span>75% off</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="gr-items-icon">
              <img src="assets/images/mp-01.png">
            </div>
          </div>
          <div class="gr-items-footer">
            <div class="gr-items-footer-icon">
              <div class="gr-items-footer-icon-delete">
                <a class="gr-items-link">
                  <img src="assets/images/delete.svg">
                </a>
              </div>
              <div class="gr-items-footer-icon-add">
                <a class="gr-items-link">
                  <img src="assets/images/edit.svg">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <div class="gr-items-box">
          <div class="gr-items-card">
            <div class="gr-items-description">
              <div class="gr-item-name">
                <span>Charbonnelet Walker</span>
              </div>
              <div class="gr-item-details">
                <span>7 Piece Dark Marc de Champagne Truffles (135g)</span>
              </div>
              <div class="gr-item-prize">
                <div class="pd-price">
                  <div class="pd-price-span pd-price-p1">
                    <span>₹246</span>
                  </div>
                  <div class="pd-price-span pd-price-p2">
                    <span>₹999</span>
                  </div>
                  <div class="pd-price-span pd-price-p3">
                    <span>75% off</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="gr-items-icon">
              <img src="assets/images/mp-02.png">
            </div>
          </div>
          <div class="gr-items-footer">
            <div class="gr-items-footer-icon">
              <div class="gr-items-footer-icon-delete">
                <a class="gr-items-link">
                  <img src="assets/images/delete.svg">
                </a>
              </div>
              <div class="gr-items-footer-icon-add">
                <a class="gr-items-link">
                  <img src="assets/images/edit.svg">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <div class="gr-items-box">
          <div class="gr-items-card">
            <div class="gr-items-description">
              <div class="gr-item-name">
                <span>Charbonnelet Walker</span>
              </div>
              <div class="gr-item-details">
                <span>7 Piece Dark Marc de Champagne Truffles (135g)</span>
              </div>
              <div class="gr-item-prize">
                <div class="pd-price">
                  <div class="pd-price-span pd-price-p1">
                    <span>₹246</span>
                  </div>
                  <div class="pd-price-span pd-price-p2">
                    <span>₹999</span>
                  </div>
                  <div class="pd-price-span pd-price-p3">
                    <span>75% off</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="gr-items-icon">
              <img src="assets/images/mp-01.png">
            </div>
          </div>
          <div class="gr-items-footer">
            <div class="gr-items-footer-icon">
              <div class="gr-items-footer-icon-delete">
                <a class="gr-items-link">
                  <img src="assets/images/delete.svg">
                </a>
              </div>
              <div class="gr-items-footer-icon-add">
                <a class="gr-items-link">
                  <img src="assets/images/edit.svg">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <div class="gr-items-box">
          <div class="gr-items-card">
            <div class="gr-items-description">
              <div class="gr-item-name">
                <span>Charbonnelet Walker</span>
              </div>
              <div class="gr-item-details">
                <span>7 Piece Dark Marc de Champagne Truffles (135g)</span>
              </div>
              <div class="gr-item-prize">
                <div class="pd-price">
                  <div class="pd-price-span pd-price-p1">
                    <span>₹246</span>
                  </div>
                  <div class="pd-price-span pd-price-p2">
                    <span>₹999</span>
                  </div>
                  <div class="pd-price-span pd-price-p3">
                    <span>75% off</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="gr-items-icon">
              <img src="assets/images/mp-02.png">
            </div>
          </div>
          <div class="gr-items-footer">
            <div class="gr-items-footer-icon">
              <div class="gr-items-footer-icon-delete">
                <a class="gr-items-link">
                  <img src="assets/images/delete.svg">
                </a>
              </div>
              <div class="gr-items-footer-icon-add">
                <a class="gr-items-link">
                  <img src="assets/images/edit.svg">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <div class="gr-items-box">
          <div class="gr-items-card">
            <div class="gr-items-description">
              <div class="gr-item-name">
                <span>Charbonnelet Walker</span>
              </div>
              <div class="gr-item-details">
                <span>7 Piece Dark Marc de Champagne Truffles (135g)</span>
              </div>
              <div class="gr-item-prize">
                <div class="pd-price">
                  <div class="pd-price-span pd-price-p1">
                    <span>₹246</span>
                  </div>
                  <div class="pd-price-span pd-price-p2">
                    <span>₹999</span>
                  </div>
                  <div class="pd-price-span pd-price-p3">
                    <span>75% off</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="gr-items-icon">
              <img src="assets/images/mp-01.png">
            </div>
          </div>
          <div class="gr-items-footer">
            <div class="gr-items-footer-icon">
              <div class="gr-items-footer-icon-delete">
                <a class="gr-items-link">
                  <img src="assets/images/delete.svg">
                </a>
              </div>
              <div class="gr-items-footer-icon-add">
                <a class="gr-items-link">
                  <img src="assets/images/edit.svg">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <div class="gr-items-box">
          <div class="gr-items-card">
            <div class="gr-items-description">
              <div class="gr-item-name">
                <span>Charbonnelet Walker</span>
              </div>
              <div class="gr-item-details">
                <span>7 Piece Dark Marc de Champagne Truffles (135g)</span>
              </div>
              <div class="gr-item-prize">
                <div class="pd-price">
                  <div class="pd-price-span pd-price-p1">
                    <span>₹246</span>
                  </div>
                  <div class="pd-price-span pd-price-p2">
                    <span>₹999</span>
                  </div>
                  <div class="pd-price-span pd-price-p3">
                    <span>75% off</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="gr-items-icon">
              <img src="assets/images/mp-02.png">
            </div>
          </div>
          <div class="gr-items-footer">
            <div class="gr-items-footer-icon">
              <div class="gr-items-footer-icon-delete">
                <a class="gr-items-link">
                  <img src="assets/images/delete.svg">
                </a>
              </div>
              <div class="gr-items-footer-icon-add">
                <a class="gr-items-link">
                  <img src="assets/images/edit.svg">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="gift-product-title">
          <div class="gift-product-headt-button" style="flex: 1;">
            <button class="btn btn-primary btn-round">
              Add MORE
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
