<div class="row gift-product-list">
  <div class="col">
    <div class="row bg-white mt-4">
      <div class="col">
        <div class="gift-product-title">
          <div class="gift-product-headt-text">
            <span>REGISTRY LIST</span>
          </div>
          <div class="gift-product-headt-button">
            <button class="btn btn-primary btn-round" [routerLink]="['/registry']">
              Add MORE
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row gr-items">
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6" *ngFor="let gift of myGiftRegistry; let i = index">
        <div class="gr-items-box">
          <div class="gr-items-card">
            <div class="gr-items-description">
              <div class="gr-item-name">
                <span>{{gift.inventory && gift.inventory.title ? gift.inventory.title : ''}}</span>
              </div>
              <div class="gr-item-details">
                <span>{{gift.inventory && gift.inventory.description ? gift.inventory.description : ''}}</span>
              </div>
              <div class="gr-item-prize">
                <div class="pd-price">
                  <div class="pd-price-span pd-price-p1">
                    <span>₹{{gift.inventory && gift.inventory.mrp ? gift.inventory.mrp : ''}}</span>
                  </div>
                  <div class="pd-price-span pd-price-p2">
                    <span>₹{{gift.inventory && gift.inventory.price ? gift.inventory.price : '' }}</span>
                  </div>
                  <div class="pd-price-span pd-price-p3">
                    <span>{{gift.inventory && gift.inventory.discount ? gift.inventory.discount : 0 }}% off</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="gr-items-icon">
              <img
                [src]="gift.inventory && gift.inventory.image_url ? gift.inventory.image_url : 'assets/images/placeholder.png'">
            </div>
          </div>
          <div class="gr-items-footer">
            <div class="gr-items-footer-icon">
              <div class="gr-items-footer-icon-delete">
                <a class="gr-items-link">
                  <img src="assets/images/delete.svg">
                </a>
              </div>
              <div class="gr-items-footer-icon-add">
                <a class="gr-items-link">
                  <img src="assets/images/edit.svg">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="gift-product-title">
          <div class="gift-product-headt-button" style="flex: 1;">
            <button class="btn btn-primary btn-round">
              Add MORE
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
