<div class="gift-registry-list">
  <div class="container-fluid">
    <div class="row gr-list">
      <div class="col">
        <div class="card gr-list-card">
          <div class="gr-head">
            <div class="row">
              <div class="col">
                <div class="head-line">
                  <span></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
                <div class="user-info">
                  <div class="user-icon">
                    <img src="/assets/images/photo.png">
                  </div>
                  <div class="user-name">John & Alexa</div>
                </div>
              </div>
              <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12">
                <div class="row h-100">
                  <div class="col-xl-8 col-lg-6 col-md-12 col-sm-12">
                    <div class="row">
                      <div class="col">
                        <div class="gr-title">
                          <div class="gr-title-head">
                            <span>Gift Registry</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="gr-details">
                          <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                              <div class="detail-box">
                                <span>Gift Registry Start:</span>
                              </div>
                              <div class="detail-box-details">
                                <span>1 May 2019</span>
                              </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                              <div class="detail-box">
                                <span>Gift Registry End:</span>
                              </div>
                              <div class="detail-box-details">
                                <span>30 May 2019</span>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                              <div class="detail-box">
                                <span>Gift Registry Owner:</span>
                              </div>
                              <div class="detail-box-details">
                                <span>Shivani Gupta</span>
                              </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                              <div class="detail-box">
                                <span>Shipping:</span>
                              </div>
                              <div class="detail-box-details">
                                <span>Taj Hotel, Mumbai</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                    <div class="row">
                      <div class="col">
                        <div class="gr-edit">
                          <div class="gr-edit-button-group">
                            <button class="btn btn-round btn-trans-black">Edit</button>
                          </div>
                          <div class="gr-edit-button-group">
                            <button class="btn btn-round btn-trans-black">View Registry</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="gr-et-box">
                          <div class="gr-et-date-title">
                            <span>Event Date:</span>
                          </div>
                          <div class="gr-et-date">
                            <span>12 June 2019</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="head-line">
                  <span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row most-popular">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="most-popular-title">
          <span>Most Popular</span>
        </div>
      </div>
      <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 m-auto">
        <!-- Slider main container -->
        <!-- "node_modules/swiper/js/swiper.min.js" -->
        <!-- Swiper -->
        <div class="swiper-container most-popular-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="mp-box">
                <div class="mp-box-card">
                  <div class="mp-description">
                    <div class="mp-title">
                      <span>Bedsheets</span>
                    </div>
                    <div class="mp-prize">
                      <span>Starting @₹246</span>
                    </div>
                  </div>
                  <div class="mp-image">
                    <img src="/assets/images/mp-01.png">
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="mp-box">
                <div class="mp-box-card">
                  <div class="mp-description">
                    <div class="mp-title">
                      <span>Bedsheets</span>
                    </div>
                    <div class="mp-prize">
                      <span>Starting @₹246</span>
                    </div>
                  </div>
                  <div class="mp-image">
                    <img src="/assets/images/mp-02.png">
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="mp-box">
                <div class="mp-box-card">
                  <div class="mp-description">
                    <div class="mp-title">
                      <span>Bedsheets</span>
                    </div>
                    <div class="mp-prize">
                      <span>Starting @₹246</span>
                    </div>
                  </div>
                  <div class="mp-image">
                    <img src="/assets/images/mp-01.png">
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="mp-box">
                <div class="mp-box-card">
                  <div class="mp-description">
                    <div class="mp-title">
                      <span>Bedsheets</span>
                    </div>
                    <div class="mp-prize">
                      <span>Starting @₹246</span>
                    </div>
                  </div>
                  <div class="mp-image">
                    <img src="/assets/images/mp-02.png">
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="mp-box">
                <div class="mp-box-card">
                  <div class="mp-description">
                    <div class="mp-title">
                      <span>Bedsheets</span>
                    </div>
                    <div class="mp-prize">
                      <span>Starting @₹246</span>
                    </div>
                  </div>
                  <div class="mp-image">
                    <img src="/assets/images/mp-01.png">
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="mp-box">
                <div class="mp-box-card">
                  <div class="mp-description">
                    <div class="mp-title">
                      <span>Bedsheets</span>
                    </div>
                    <div class="mp-prize">
                      <span>Starting @₹246</span>
                    </div>
                  </div>
                  <div class="mp-image">
                    <img src="/assets/images/mp-02.png">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Add Arrows -->
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
    <div class="row gr-items">
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <div class="gr-items-box" (click)="itemDetails()">
          <div class="gr-items-card">
            <div class="gr-items-icon">
              <img src="./../../../assets/images/mp-01.png">
            </div>
            <div class="gr-items-description">
              <div class="gr-item-name">
                <span>Charbonnelet Walker</span>
              </div>
              <div class="gr-item-details">
                <span>7 Piece Dark Marc de Champagne Truffles (135g)</span>
              </div>
              <div class="gr-item-prize">
                <span>₹10,000</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <div class="gr-items-box">
          <div class="gr-items-card">
            <div class="gr-items-icon">
              <img src="./../../../assets/images/mp-02.png">
            </div>
            <div class="gr-items-description">
              <div class="gr-item-name">
                <span>Charbonnelet Walker</span>
              </div>
              <div class="gr-item-details">
                <span>7 Piece Dark Marc de Champagne Truffles (135g)</span>
              </div>
              <div class="gr-item-prize">
                <span>₹10,000</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <div class="gr-items-box">
          <div class="gr-items-card">
            <div class="gr-items-icon">
              <img src="./../../../assets/images/mp-01.png">
            </div>
            <div class="gr-items-description">
              <div class="gr-item-name">
                <span>Charbonnelet Walker</span>
              </div>
              <div class="gr-item-details">
                <span>7 Piece Dark Marc de Champagne Truffles (135g)</span>
              </div>
              <div class="gr-item-prize">
                <span>₹10,000</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <div class="gr-items-box">
          <div class="gr-items-card">
            <div class="gr-items-icon">
              <img src="./../../../assets/images/mp-02.png">
            </div>
            <div class="gr-items-description">
              <div class="gr-item-name">
                <span>Charbonnelet Walker</span>
              </div>
              <div class="gr-item-details">
                <span>7 Piece Dark Marc de Champagne Truffles (135g)</span>
              </div>
              <div class="gr-item-prize">
                <span>₹10,000</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <div class="gr-items-box">
          <div class="gr-items-card">
            <div class="gr-items-icon">
              <img src="./../../../assets/images/mp-01.png">
            </div>
            <div class="gr-items-description">
              <div class="gr-item-name">
                <span>Charbonnelet Walker</span>
              </div>
              <div class="gr-item-details">
                <span>7 Piece Dark Marc de Champagne Truffles (135g)</span>
              </div>
              <div class="gr-item-prize">
                <span>₹10,000</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <div class="gr-items-box">
          <div class="gr-items-card">
            <div class="gr-items-icon">
              <img src="./../../../assets/images/mp-02.png">
            </div>
            <div class="gr-items-description">
              <div class="gr-item-name">
                <span>Charbonnelet Walker</span>
              </div>
              <div class="gr-item-details">
                <span>7 Piece Dark Marc de Champagne Truffles (135g)</span>
              </div>
              <div class="gr-item-prize">
                <span>₹10,000</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row most-popular">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="most-popular-title">
          <span>HOME ESSENTIALS</span>
        </div>
      </div>
      <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 m-auto">
        <!-- Slider main container -->
        <!-- "node_modules/swiper/js/swiper.min.js" -->
        <!-- Swiper -->
        <div class="swiper-container product-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="mp-box">
                <div class="mp-box-card">
                  <div class="mp-description">
                    <div class="mp-title">
                      <span>Bedsheets</span>
                    </div>
                    <div class="mp-prize">
                      <span>Starting @₹246</span>
                    </div>
                  </div>
                  <div class="mp-image">
                    <img src="/assets/images/mp-01.png">
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="mp-box">
                <div class="mp-box-card">
                  <div class="mp-description">
                    <div class="mp-title">
                      <span>Bedsheets</span>
                    </div>
                    <div class="mp-prize">
                      <span>Starting @₹246</span>
                    </div>
                  </div>
                  <div class="mp-image">
                    <img src="/assets/images/mp-02.png">
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="mp-box">
                <div class="mp-box-card">
                  <div class="mp-description">
                    <div class="mp-title">
                      <span>Bedsheets</span>
                    </div>
                    <div class="mp-prize">
                      <span>Starting @₹246</span>
                    </div>
                  </div>
                  <div class="mp-image">
                    <img src="/assets/images/mp-01.png">
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="mp-box">
                <div class="mp-box-card">
                  <div class="mp-description">
                    <div class="mp-title">
                      <span>Bedsheets</span>
                    </div>
                    <div class="mp-prize">
                      <span>Starting @₹246</span>
                    </div>
                  </div>
                  <div class="mp-image">
                    <img src="/assets/images/mp-02.png">
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="mp-box">
                <div class="mp-box-card">
                  <div class="mp-description">
                    <div class="mp-title">
                      <span>Bedsheets</span>
                    </div>
                    <div class="mp-prize">
                      <span>Starting @₹246</span>
                    </div>
                  </div>
                  <div class="mp-image">
                    <img src="/assets/images/mp-01.png">
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="mp-box">
                <div class="mp-box-card">
                  <div class="mp-description">
                    <div class="mp-title">
                      <span>Bedsheets</span>
                    </div>
                    <div class="mp-prize">
                      <span>Starting @₹246</span>
                    </div>
                  </div>
                  <div class="mp-image">
                    <img src="/assets/images/mp-02.png">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Add Arrows -->
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</div>
