<div class="gift-registry-list">
  <div class="container-fluid">
    <div class="row gr-list">
      <span class="bg-icon"></span>
      <div class="col">
        <div class="card gr-list-card">
          <div class="gr-head">
            <div class="row">
              <div class="col">
                <div class="head-line">
                  <span></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
                <div class="user-info">
                  <div class="user-icon">
                    <img src="/assets/images/photo.png">
                  </div>
                  <div class="user-name">John & Alexa</div>
                </div>
              </div>
              <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12">
                <div class="row h-100">
                  <div class="col-xl-8 col-lg-6 col-md-12 col-sm-12">
                    <div class="row">
                      <div class="col">
                        <div class="gr-title">
                          <span class="gr-title-icon"></span>
                          <div class="gr-title-head">
                            <span>Gift Registry</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="gr-details">
                          <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                              <div class="detail-box">
                                <span>Gift Registry Start:</span>
                              </div>
                              <div class="detail-box-details">
                                <span>1 May 2019</span>
                              </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                              <div class="detail-box">
                                <span>Gift Registry End:</span>
                              </div>
                              <div class="detail-box-details">
                                <span>30 May 2019</span>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                              <div class="detail-box">
                                <span>Gift Registry Owner:</span>
                              </div>
                              <div class="detail-box-details">
                                <span>Shivani Gupta</span>
                              </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                              <div class="detail-box">
                                <span>Shipping:</span>
                              </div>
                              <div class="detail-box-details">
                                <span>Taj Hotel, Mumbai</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                    <div class="row">
                      <div class="col">
                        <div class="gr-edit">
                          <div class="gr-edit-button-group">
                            <button class="btn btn-round btn-trans-black">Edit</button>
                          </div>
                          <div class="gr-edit-button-group">
                            <button class="btn btn-round btn-trans-black" [routerLink]="['/registry/product']">View
                              Registry</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="gr-et-box">
                          <div class="gr-et-date-title">
                            <span>Event Date:</span>
                          </div>
                          <div class="gr-et-date">
                            <span>12 June 2019</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="head-line">
                  <span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <router-outlet (activate)='onActivate($event)' (deactivate)='onDeactivate($event)'></router-outlet>
  </div>
</div>
