<div class="gift-registry-item">
  <div class="container-fluid">
    <div class="gift-registry-list">
      <div class="row gr-list">
        <div class="col">
          <div class="card gr-list-card">
            <div class="gr-head">
              <div class="row">
                <div class="col">
                  <div class="head-line">
                    <span></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
                  <div class="user-info">
                    <div class="user-icon">
                      <img src="/assets/images/photo.png">
                    </div>
                    <div class="user-name">John & Alexa</div>
                  </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12">
                  <div class="row h-100">
                    <div class="col-xl-8 col-lg-6 col-md-12 col-sm-12">
                      <div class="row">
                        <div class="col">
                          <div class="gr-title">
                            <div class="gr-title-head">
                              <span>Gift Registry</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="gr-details">
                            <div class="row">
                              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="detail-box">
                                  <span>Gift Registry Start:</span>
                                </div>
                                <div class="detail-box-details">
                                  <span>1 May 2019</span>
                                </div>
                              </div>
                              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="detail-box">
                                  <span>Gift Registry End:</span>
                                </div>
                                <div class="detail-box-details">
                                  <span>30 May 2019</span>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="detail-box">
                                  <span>Gift Registry Owner:</span>
                                </div>
                                <div class="detail-box-details">
                                  <span>Shivani Gupta</span>
                                </div>
                              </div>
                              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="detail-box">
                                  <span>Shipping:</span>
                                </div>
                                <div class="detail-box-details">
                                  <span>Taj Hotel, Mumbai</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                      <div class="row">
                        <div class="col">
                          <div class="gr-edit">
                            <div class="gr-edit-button-group">
                              <button class="btn btn-round btn-trans-black">Edit</button>
                            </div>
                            <div class="gr-edit-button-group">
                              <button class="btn btn-round btn-trans-black">View Registry</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="gr-et-box">
                            <div class="gr-et-date-title">
                              <span>Event Date:</span>
                            </div>
                            <div class="gr-et-date">
                              <span>12 June 2019</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="head-line">
                    <span></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6">
            <div class="product-box">
              <div class="product-details">
                <div class="product-thumbneil">
                  <div class="product-slide">
                    <ul>
                      <li>
                        <a class="item-slide">
                          <img src="./../../../assets/images/product_01.png">
                        </a>
                      </li>
                      <li>
                        <a class="item-slide">
                          <img src="./../../../assets/images/product_01.png">
                        </a>
                      </li>
                      <li>
                        <a class="item-slide">
                          <img src="./../../../assets/images/product_01.png">
                        </a>
                      </li>
                      <li>
                        <a class="item-slide">
                          <img src="./../../../assets/images/product_01.png">
                        </a>
                      </li>
                      <li>
                        <a class="item-slide">
                          <img src="./../../../assets/images/product_01.png">
                        </a>
                      </li>
                      <li>
                        <a class="item-slide">
                          <img src="./../../../assets/images/product_01.png">
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="product-view">
                  <div class="product-conatiner">
                    <img src="./../../../assets/images/product_01.png">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-8 col-lg-9 col-md-6 col-sm-6">
            <div class="product-description">
              <div class="product-description-box">
                <div class="row">
                  <div class="col">
                    <div class="pd-head">
                      <div class="row">
                        <div class="col">
                          <div class="pd-head-title-t1">
                            <span>Charbonnelet Walker</span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="pd-head-title-t2">
                            <span>7 Piece Dark Marc</span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="pd-head-title-t3">
                            <span>de Champagne Truffles (135g)</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="pd-rating">
                      <div class="row">
                        <div class="col">
                          <div class="pd-price">
                            <div class="pd-price-span pd-price-p1">
                              <span>₹246</span>
                            </div>
                            <div class="pd-price-span pd-price-p2">
                              <span>₹999</span>
                            </div>
                            <div class="pd-price-span pd-price-p3">
                              <span>75% off</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="pd-start">
                            <i class="fa fa-star"></i>
                            <span>426,947 ratings and 3,658 reviews</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="pd-d-box">
                      <div class="row">
                        <div class="col">
                          <div class="pd-d-title">
                            <span>Product Description</span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="pd-d-desc">
                            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                              has been the industry’s standard dummy text ever since the 1500s, when an unknown printer
                              took a galley of type and scrambled it to make a type specimen book. It has survived not
                              only five centuries, but also the leap into electronic typesetting, remaining essentially
                              unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                              Lorem but also the leap into electronic typesetting, remaining essentially unchanged. It
                              was popularised in the 1960s with the release of Letraset sheets containing Lorem</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="hr-line">
                      <span></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="pd-d-box">
                      <div class="row">
                        <div class="col">
                          <div class="pd-d-title">
                            <span>Specifications</span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="pd-d-title-t2">
                            <span>In The Box</span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="pd-d-desc-details">
                            <div class="row">
                              <div class="col">
                                <div class="pd-d-desc-details-box">
                                  <div class="pd-d-desc-details-box-d1">
                                    <span>Sales Package:</span>
                                  </div>
                                  <div class="pd-d-desc-details-box-d2">
                                    <span>Multi Color LED Candles, Tea Light Candles, for diwali/festiva candles
                                      smokeless Battery Operated</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="pd-d-desc-details-box">
                                  <div class="pd-d-desc-details-box-d1">
                                    <span>Number of Contents in Sales Package:</span>
                                  </div>
                                  <div class="pd-d-desc-details-box-d2">
                                    <span>Pack of 12</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="hr-line">
                      <span></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="pd-d-box">
                      <div class="row">
                        <div class="col">
                          <div class="pd-d-title">
                            <span>General</span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="pd-d-desc-details">
                            <div class="row">
                              <div class="col">
                                <div class="pd-d-desc-details-box">
                                  <div class="pd-d-desc-details-box-d1">
                                    <span>Sales Package:</span>
                                  </div>
                                  <div class="pd-d-desc-details-box-d2">
                                    <span>Multi Color LED Candles, Tea Light Candles, for diwali/festiva candles
                                      smokeless Battery Operated</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="pd-d-desc-details-box">
                                  <div class="pd-d-desc-details-box-d1">
                                    <span>Number of Contents in Sales Package:</span>
                                  </div>
                                  <div class="pd-d-desc-details-box-d2">
                                    <span>Pack of 12</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row gr-items">
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <div class="gr-items-box">
          <div class="gr-items-card">
            <div class="gr-items-icon">
              <img src="./../../../assets/images/mp-01.png">
            </div>
            <div class="gr-items-description">
              <div class="gr-item-name">
                <span>Charbonnelet Walker</span>
              </div>
              <div class="gr-item-details">
                <span>7 Piece Dark Marc de Champagne Truffles (135g)</span>
              </div>
              <div class="gr-item-prize">
                <span>₹10,000</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <div class="gr-items-box">
          <div class="gr-items-card">
            <div class="gr-items-icon">
              <img src="./../../../assets/images/mp-02.png">
            </div>
            <div class="gr-items-description">
              <div class="gr-item-name">
                <span>Charbonnelet Walker</span>
              </div>
              <div class="gr-item-details">
                <span>7 Piece Dark Marc de Champagne Truffles (135g)</span>
              </div>
              <div class="gr-item-prize">
                <span>₹10,000</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <div class="gr-items-box">
          <div class="gr-items-card">
            <div class="gr-items-icon">
              <img src="./../../../assets/images/mp-01.png">
            </div>
            <div class="gr-items-description">
              <div class="gr-item-name">
                <span>Charbonnelet Walker</span>
              </div>
              <div class="gr-item-details">
                <span>7 Piece Dark Marc de Champagne Truffles (135g)</span>
              </div>
              <div class="gr-item-prize">
                <span>₹10,000</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <div class="gr-items-box">
          <div class="gr-items-card">
            <div class="gr-items-icon">
              <img src="./../../../assets/images/mp-02.png">
            </div>
            <div class="gr-items-description">
              <div class="gr-item-name">
                <span>Charbonnelet Walker</span>
              </div>
              <div class="gr-item-details">
                <span>7 Piece Dark Marc de Champagne Truffles (135g)</span>
              </div>
              <div class="gr-item-prize">
                <span>₹10,000</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <div class="gr-items-box">
          <div class="gr-items-card">
            <div class="gr-items-icon">
              <img src="./../../../assets/images/mp-01.png">
            </div>
            <div class="gr-items-description">
              <div class="gr-item-name">
                <span>Charbonnelet Walker</span>
              </div>
              <div class="gr-item-details">
                <span>7 Piece Dark Marc de Champagne Truffles (135g)</span>
              </div>
              <div class="gr-item-prize">
                <span>₹10,000</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <div class="gr-items-box">
          <div class="gr-items-card">
            <div class="gr-items-icon">
              <img src="./../../../assets/images/mp-02.png">
            </div>
            <div class="gr-items-description">
              <div class="gr-item-name">
                <span>Charbonnelet Walker</span>
              </div>
              <div class="gr-item-details">
                <span>7 Piece Dark Marc de Champagne Truffles (135g)</span>
              </div>
              <div class="gr-item-prize">
                <span>₹10,000</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
