<div class="row">
  <div class="col">
    <div class="login">
      <div class="row">
        <div class="col-xl-5 col-md-5 col-sm-5 col-sm-12 p-0">
          <div class="login-box-icon">
            <div class="login-image">
              <img src="/assets/images/login.png" alt="img" />
            </div>
          </div>
        </div>
        <div class="col-xl-7 col-md-7 col-sm-7 col-sm-12">
          <div class="row">
            <div class="col">
              <div class="login-box-nav">
                <div class="back-icon">
                  <span class="icon">
                    <i class="left-arrow"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="login-box-logo">
                <div class="logo-icon">
                  <span class="logo">W</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 m-auto">
              <div class="card login-box-card">
                <div class="card-header">
                  <div class="row">
                    <div class="col">
                      <div class="login-btn-box" [ngClass]="{'active': activeCard === 'LOGIN'}">
                        <button class="btn login-btn-text" (click)="loginCard('LOGIN')">
                          <span>LOGIN</span>
                        </button>
                      </div>
                    </div>
                    <div class="col">
                      <div class="login-btn-box" [ngClass]="{'active': activeCard === 'REGISTER'}">
                        <button class="btn login-btn-text"
                          (click)="loginCard('REGISTER')"><span>REGISTER</span></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body" *ngIf="activeCard === 'LOGIN'">
                  <div class="row">
                    <div class="col">
                      <div class="login-form">
                        <form class="ngform" [formGroup]="loginForm" (ngSubmit)="userLogin()" #inputToFocus>
                          <div class="row">
                            <div class="col">
                              <div class="row">
                                <div class="col">
                                  <div class="form-group label-floating mt-0"
                                    [ngClass]="{ 'is-fill': loginForm.controls['username'].value, 'is-invalid': !loginForm.controls['username'].valid}">
                                    <input autocomplete="off" aria-autocomplete="none" class="form-control"
                                      formControlName="username" type="text" />
                                    <label class="control-label">Email</label>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                  <div class="form-group label-floating"
                                    [ngClass]="{ 'is-fill': loginForm.controls['password'].value, 'is-invalid': !loginForm.controls[ 'password' ].valid}">
                                    <input autocomplete="off" aria-autocomplete="none" class="form-control"
                                      formControlName="password" type="password" />
                                    <label class="control-label">password</label>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                  <div class="form-group">
                                    <div class="login-btn text-center">
                                      <button class="btn btn-primary btn-round">LOGIN</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body" *ngIf="activeCard === 'REGISTER'">
                  <div class="row">
                    <div class="col">
                      <div class="login-form">
                        <form class="ngform" [formGroup]="signUpForm" (ngSubmit)="userSignUp()" #inputToFocus>
                          <div class="row">
                            <div class="col">
                              <div class="row">
                                <div class="col">
                                  <div class="form-group label-floating mt-0"
                                    [ngClass]="{ 'is-fill': signUpForm.controls['user_name'].value, 'is-invalid': !signUpForm.controls['user_name'].valid}">
                                    <input autocomplete="off" aria-autocomplete="none" autocomplete="off" class="form-control"
                                      formControlName="user_name" type="text" />
                                    <label class="control-label">User Name</label>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                  <div class="form-group label-floating"
                                    [ngClass]="{ 'is-fill': signUpForm.controls['phone_no'].value, 'is-invalid': !signUpForm.controls[ 'phone_no' ].valid}">
                                    <input autocomplete="off" aria-autocomplete="none" class="form-control"
                                      formControlName="phone_no" type="text" />
                                    <label class="control-label">Mobile No.</label>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                  <div class="form-group label-floating"
                                    [ngClass]="{ 'is-fill': signUpForm.controls['email'].value, 'is-invalid': !signUpForm.controls[ 'email' ].valid}">
                                    <input autocomplete="off" aria-autocomplete="none" class="form-control"
                                      formControlName="email" type="text" />
                                    <label class="control-label">Email</label>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                  <div class="form-group label-floating form-group-radio">
                                    <label class="control-label">Gender</label>
                                    <div class="radio form-check">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="radio" formControlName="gender"
                                          name="gender" value="ML"> Male
                                        <span class="circle">
                                          <span class="check"></span>
                                        </span>
                                      </label>
                                    </div>
                                    <div class="radio form-check">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="radio" formControlName="gender"
                                          name="gender" value="FML">
                                        FeMale
                                        <span class="circle">
                                          <span class="check"></span>
                                        </span>
                                      </label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                  <div class="form-group label-floating"
                                    [ngClass]="{ 'is-fill': signUpForm.controls['password'].value, 'is-invalid': !signUpForm.controls[ 'password' ].valid}">
                                    <input autocomplete="off" aria-autocomplete="none" class="form-control"
                                      formControlName="password" type="password" />
                                    <label class="control-label">Password</label>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                  <div class="form-group">
                                    <div class="login-btn text-center">
                                      <button class="btn btn-primary btn-round">Sign Up</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
