.events {
  min-height: 100vh;
  display: flex;
  padding-top: 100px;
  justify-content: center;
  align-items: center;
  .events-banner {
    .events-image {
      min-height: 60vh;
      position: relative;
      overflow: hidden;
      .events-poster {
        margin: 0 auto;
        padding: 0px 20px;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("/assets/images/ceremony.png");
        background-size: 100vw 100vh;
        background-repeat: no-repeat;
        z-index: -1;
        background-position: 0px -20vh;
        filter: blur(4px);
      }
      &::before {
        content: "";
        background: rgba(0, 0, 0, 0.38);
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
  }
  .events-box {
    padding: 20px;
    margin-top: 50px;
    .events-card-container {
      padding: 15px;
      .events-card {
        border-radius: 3px;
        overflow: hidden;
        margin-top: 30px;
        @include box-shadow-default();
        .events-card-header {
          background: rgb(249, 249, 249);
          .events-title {
            color: $brand-primary-text;
            font-family: $Lato-Semibold;
            font-size: 100%;
            padding: 10px 45px 10px 15px;
            display: flex;
            justify-content: space-between;
            position: relative;
            .events-options {
              display: inline-block;
              margin-left: 20px;
              span {
                font-size: 80%;
                cursor: pointer;
                display: inline-block;
                &.edit {
                  margin-right: 10px;
                  border-right: 1px solid rgba(0, 0, 0, 0.22);
                  padding-right: 10px;
                  color: $brand-success;
                }
                &.delete {
                  color: $brand-danger;
                }
              }
            }
            .events-close {
              position: absolute;
              cursor: pointer;
              right: 13px;
              top: 10px;
              font-weight: 100;
              color: rgb(0, 0, 0);
            }
          }
        }
        .events-card-body {
          padding: 10px 15px;
          background: $white;
          .events-add {
            padding: 10px 0px;
            font-family: $Lato-Semibold;
            font-size: 120%;
            color: $brand-primary;
          }
          .cr-card {
            .cr-icon {
              border-radius: 3px;
              overflow: hidden;
              @include box-shadow-default();
              max-width: 150px;
            }
            .cr-desc {
              .form-group {
                margin-bottom: 0.5rem;
                .control-label {
                  margin: 0 auto;
                  display: block;
                  &.text-primary {
                    font-size: 120%;
                  }
                }
              }
            }
          }
        }
      }
      .events-list-title {
        color: $brand-primary;
        font-family: $Lato-Semibold;
        font-size: 120%;
        padding: 10px;
        margin-bottom: 15px;
        border-bottom: 1px solid #d6d6d6;
      }
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/assets/images/ceremony.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -2;
    background-position: 0px 0;
    filter: blur(4px);
  }
  &::before {
    content: "";
    background: rgba(0, 0, 0, 0.38);
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .event-card {
    .event-card-body {
      .event-go-card {
        display: inline-block;
        width: 200px;
        cursor: pointer;
        background-color: rgb(31, 21, 51);
        border-radius: 10px;
        box-shadow: 7px 8px 10px -4px rgb(31, 21, 51);
        position: relative;
        transition: 0.4s ease-out;
        margin-left: 20px;
        margin-bottom: 30px;
        margin-right: 20px;
        overflow: hidden;
        .event-go-box {
          .go-head {
            padding: 10px 10px 0px 10px;
          }
          .go-body {
            padding: 10px 10px 10px 10px;
          }
        }
        &:not(:first-child) {
          margin-left: 20px;
          margin-right: 20px;
          margin-bottom: 30px;
        }
        &:hover {
          transform: translateY(-20px);
          transition: 0.4s ease-out;
          &.filledbar {
            width: 120px;
            transition: 0.4s ease-out;
          }
          .stroke {
            stroke-dashoffset: 100;
            transition: 0.6s ease-out;
          }
        }
        // & ~ .event-go-card {
        //   position: relative;
        //   transition: 0.4s ease-out;
        // }
        .event-go-title {
          .title {
            color: rgb(255, 255, 255);
            position: relative;
            padding: 10px;
            width: 100%;
            display: block;
            font-size: 28px;
            text-align: center;
            word-break: break-word;
            white-space: normal;
          }
        }

        .bar {
          position: relative;
          height: 5px;
          width: 100%;
          margin: 20px auto 0px auto;
        }
        .emptybar {
          background-color: rgb(255, 255, 255);
          width: 100%;
          height: 100%;
        }
        .filledbar {
          position: absolute;
          top: 0px;
          z-index: 3;
          width: 0px;
          height: 100%;
          background: rgb(0, 154, 217);
          background: linear-gradient(
            90deg,
            rgba(0, 154, 217, 1) 0%,
            rgba(217, 147, 0, 1) 65%,
            rgba(255, 186, 0, 1) 100%
          );
          transition: 0.6s ease-out;
        }
        .circle {
          position: relative;
          top: 0;
          left: 0;
          background: rgb(245, 25, 96);
        }

        .stroke {
          stroke: white;
          stroke-dasharray: 360;
          stroke-dashoffset: 360;
          transition: 0.6s ease-out;
        }

        svg {
          fill: rgb(31, 21, 51);
          stroke-width: 2px;
          position: relative;
          left: calc(50% - 60px);
          top: 14px;
        }
      }
    }
  }
}
