.gift-registry-list {
  .gr-list {
    background-image: url("/assets/images/gr-list-bg.png");
    padding: 80px 0px 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 40%;
    position: relative;
    .gr-list-card {
      padding: 20px;
      margin-bottom: 0px;
      .head-line {
        position: relative;
        span {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 2px;
          background: transparent
            linear-gradient(
              90deg,
              rgba(222, 227, 230, 1) 1%,
              rgba(255, 253, 229, 1) 25%,
              rgba(240, 235, 216, 1) 40%,
              rgba(214, 205, 193, 1) 60%,
              rgba(237, 237, 238, 1) 79%,
              rgba(216, 213, 187, 1) 100%
            )
            0% 0% no-repeat padding-box;
        }
      }
      .user-info {
        padding: 20px 0px 0px 0px;
        .user-icon {
          height: 170px;
          width: 170px;
          overflow: hidden;
          margin: 0 auto;
          img {
            height: calc(100% + 40px);
          }
        }
        .user-name {
          text-align: center;
          font-size: 170%;
          color: rgba(112, 112, 112, 1);
          font-family: $Lato-Semibold;
        }
      }
      .gr-title {
        padding: 10px;
        position: relative;
        .gr-title-head {
          text-align: center;
          font-size: 200%;
          font-family: $Lato-Semibold;
          color: rgba(112, 112, 112, 1);
          position: relative;
          span {
            background: #fff;
            z-index: 1;
            position: relative;
            padding: 0px 20px;
          }
        }
        &::after,
        &::before {
          content: "";
          position: absolute;
          height: 2px;
          width: 30%;
          background: $brand-primary;
          left: 0;
          top: 50%;
          z-index: 0;
        }
        &::before {
          background-image: url("/assets/images/flies_1.png");
          right: 0;
          left: auto;
        }
        .gr-title-icon {
          position: absolute;
          width: 100%;
          height: 100%;
          &::after,
          &::before {
            content: "";
            position: absolute;
            height: 60px;
            width: 80px;
            left: 0;
            top: 17px;
            z-index: 0;
            opacity: 0.4;
            background-size: contain;
            background-repeat: no-repeat;
          }
          &::after {
            left: auto;
            right: 0;
            background-image: url("/assets/images/flies_1.png");
          }
          &::before {
            background-image: url("/assets/images/flies_2.png");
          }
        }
      }
      .gr-details {
        text-align: center;
        color: rgba(112, 112, 112, 1);
        .detail-box {
        }
        .detail-box-details {
          font-family: $Lato-Semibold;
          color: $brand-slight-black;
        }
      }
      .gr-edit {
        text-align: right;
        padding: 10px 0px;
        .gr-edit-button-group {
          display: inline-flex;
          padding: 0px 10px;
          .btn {
            border: 1px solid rgba(112, 112, 112, 1);
            padding: 6px 18px;
            color: rgba(112, 112, 112, 1);
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
      .gr-et-box {
        padding: 30px 0px 10px 0px;
        .gr-et-date-title {
          color: rgba(112, 112, 112, 1);
        }
        .gr-et-date {
          color: $brand-primary;
          font-family: $Lato-Semibold;
          font-size: 200%;
        }
      }
    }
    &::after,
    &::before {
      content: "";
      position: absolute;
      width: calc(50% - 40px);
      height: 120px;
      left: 40px;
      top: 15px;
      background-size: calc(30vw);
      background-repeat: no-repeat;
      z-index: -1;
      background-position: 0px 0px;
    }
    &::after {
      background-image: url("/assets/images/top_right.png");
      left: auto;
      right: 40px;
      background-position: 100% 0;
    }
    &::before {
      background-image: url("/assets/images/top_left.png");
    }
    .bg-icon {
      background-image: url("/assets/images/top_left.png");
      position: absolute;
      width: 40%;
      height: 100px;
      left: calc(30%);
      top: 15px;
      background-size: calc(30vw);
      background-repeat: no-repeat;
      z-index: -1;
      background-position: center 0;
    }
  }
  .most-popular {
    background-image: url("/assets/images/gr-list-bg.png");
    padding: 40px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 40%;
    .most-popular-title {
      text-align: center;
      font-size: 150%;
      font-family: $Lato-Semibold;
      text-transform: uppercase;
      padding-bottom: 20px;
    }
    .swiper-container {
      padding: 20px 0px 40px 0px;
    }
    .mp-box {
      background-image: url("/assets/images/item_border.png");
      background-repeat: no-repeat;
      background-position: center;
      padding: 20px;
      background-size: calc(250px + 25%);
      .mp-box-card {
        padding: 20px;
        border: 6px solid rgba(196, 149, 47, 1);
        border-radius: 5px;
        background: $white;
        max-width: 250px;
        margin: 0 auto;
        @include box-shadow-default();
        .mp-image {
          max-width: 200px;
          margin: 0 auto;
          min-height: 250px;
          height: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
        }
        .mp-description {
          font-family: $Lato-Semibold;
          text-align: center;
          .mp-title {
            font-size: 70%;
          }
          .mp-prize {
            font-size: 100%;
            color: $brand-primary;
            padding-bottom: 10px;
          }
        }
      }
    }
  }
}
.gr-items {
  padding: 30px 0px;
  .gr-items-box {
    margin: 20px auto;
    height: calc(100% - 40px);
    .gr-items-card {
      max-width: 320px;
      margin: 0 auto;
      cursor: pointer;
      padding: 15px;
      border-radius: 6px;
      position: relative;
      background: $white;
      overflow: hidden;
      height: 100%;
      width: 100%;
      @include box-shadow-default();
      .gr-items-icon {
        max-width: 320px;
        min-height: 200px;
        width: 100%;
      }
      .gr-items-description {
        margin-top: 10px;
        .gr-item-name {
          color: $brand-slight-black;
          font-family: $Lato-Semibold;
        }
        .gr-item-details {
          color: $brand-primary-text;
          font-size: 80%;
          margin: 10px auto;
          text-align: justify;
        }
        .gr-item-prize {
          font-family: $Lato-Semibold;
          color: $brand-primary;
          text-align: right;
        }
      }
    }
  }
}

.gift-registry-item {
  background: rgba(228, 228, 228, 0.3);
  padding: 40px 0px;
  .product-box {
    .product-details {
      display: flex;
      flex-wrap: nowrap;
      flex-flow: nowrap;
      .product-thumbneil {
        display: inline-flex;
        .product-slide {
          width: 55px;
          padding: 10px 0px;
          ul {
            margin: 0 auto;
            padding: 0px;
            list-style: none;
            height: 100%;
            li {
              padding: 5px;
              margin-bottom: 5px;
              background: #fff;
              a {
                display: block;
                text-align: center;
              }
            }
          }
        }
      }
      .product-view {
        display: inline-flex;
        padding: 10px;
        .product-conatiner {
          background: #fff;
        }
      }
    }
  }
  .product-description {
    height: 100%;
    padding: 10px 0px;
    .product-description-box {
      height: 100%;
      background: #fff;
      padding: 20px;
      .pd-head {
        color: rgba(0, 0, 0, 1);
        .pd-head-title-t1 {
          font-size: 150%;
          font-family: $Lato-Semibold;
        }
        .pd-head-title-t2 {
          font-size: 130%;
          font-family: $Lato-Semibold;
        }
        .pd-head-title-t3 {
          font-size: 120%;
          color: rgba(112, 112, 112, 1);
        }
      }
      .pd-rating {
        .pd-price {
          display: flex;
          flex-wrap: nowrap;
          flex-flow: nowrap;
          padding: 10px 0px;
          .pd-price-span {
            display: inline-flex;
            justify-content: center;
            align-items: flex-end;
          }
          .pd-price-p1 {
            margin-right: 15px;
            font-size: 170%;
            font-family: $Lato-Semibold;
            color: $brand-primary;
          }
          .pd-price-p2 {
            margin-right: 15px;
            font-size: 120%;
            color: rgba(145, 141, 141, 1);
            text-decoration: line-through;
          }
          .pd-price-p3 {
            font-size: 90%;
            color: $brand-success;
          }
        }
        .pd-start {
          font-size: 80%;
          i {
            margin-right: 10px;
            color: #fff;
            background: $brand-primary;
            padding: 3px;
            border-radius: 4px;
          }
          span {
            color: rgba(112, 112, 112, 1);
          }
        }
      }
      .pd-d-box {
        padding: 10px 0px;
        margin: 30px auto;
        .pd-d-title {
          font-size: 150%;
          margin-bottom: 20px;
          font-family: $Lato-Semibold;
          color: $black;
        }
        .pd-d-title-t2 {
          font-size: 120%;
          margin-bottom: 10px;
          font-family: $Lato-Semibold;
          color: $black;
        }
        .pd-d-desc {
          color: rgba(112, 112, 112, 1);
          text-align: justify;
        }
        .pd-d-desc-details {
          .pd-d-desc-details-box {
            display: flex;
            flex-wrap: nowrap;
            flex-flow: nowrap;
            padding: 5px 0px;
            .pd-d-desc-details-box-d1 {
              color: rgba(112, 112, 112, 1);
              margin-right: 30px;
            }
            .pd-d-desc-details-box-d2 {
              color: rgba(0, 0, 0, 1);
            }
          }
        }
      }
      .hr-line {
        span {
          display: block;
          height: 2px;
          background: rgba(112, 112, 112, 1);
        }
      }
    }
  }
}

.gift-product-list {
  background: rgba(228, 228, 228, 1);
  .gr-items {
    .gr-items-box {
      .gr-items-card {
        border-radius: 6px 6px 30px 30px;
        z-index: 10;
        height: calc(100% - 47px);
        max-width: 270px;
        .gr-items-icon {
        }
        .gr-items-description {
          margin-top: 0px;
          .gr-item-name {
            margin: 0px auto;
          }
          .gr-item-details {
            padding: 0px;
          }
          .gr-item-prize {
            .pd-price {
              display: flex;
              flex-wrap: nowrap;
              flex-flow: nowrap;
              padding: 10px 0px;
              .pd-price-span {
                display: inline-flex;
                justify-content: center;
                align-items: center;
              }
              .pd-price-p1 {
                margin-right: 15px;
                font-size: 130%;
                font-family: $Lato-Semibold;
                color: $brand-primary;
              }
              .pd-price-p2 {
                margin-right: 15px;
                font-size: 80%;
                color: rgba(145, 141, 141, 1);
                text-decoration: line-through;
              }
              .pd-price-p3 {
                font-size: 80%;
                color: $brand-success;
              }
            }
          }
        }
      }
      .gr-items-footer {
        display: flex;
        max-width: 270px;
        margin: -30px auto auto auto;
        border-radius: 0px 0px 6px 6px;
        position: relative;
        background: $white;
        @include box-shadow-default();
        position: relative;
        z-index: 9;
        padding-top: 30px;
        .gr-items-footer-icon {
          display: flex;
          flex: 1;
          flex-flow: row-reverse;
          .gr-items-footer-icon-delete,
          .gr-items-footer-icon-add {
            display: inline-flex;
            width: 30px;
            margin: 5px 10px;
            a {
              padding: 5px;
              display: block;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .gift-product-title {
    display: flex;
    flex-flow: wrap;
    padding: 10px;
    .gift-product-headt-text,
    .gift-product-headt-button {
      flex: 0.5 0.5 50%;
      align-items: center;
    }
    .gift-product-headt-text {
      justify-content: flex-start;
      padding: 3px;
      font-size: 150%;
    }
    .gift-product-headt-button {
      text-align: right;
      .btn {
        white-space: nowrap;
      }
    }
  }
}
