<div class="gift-registry">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="gift-banner">
          <div class="row">
            <div class="col p-0">
              <div class="gift-image">
                <div class="gift-text">
                  <div class="row">
                    <div class="col">
                      <span>“What is gift registry</span>
                      <span>and Why gift registry”</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="git-btn">
                        <button class="btn btn-white btn-round">Register Now </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="git-step">
          <div class="row">
            <div class="col">
              <div class="gift-card-container">
                <div class="row card-gap">
                  <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                    <div class="gift-desc">
                      <div class="row h-100">
                        <div class="col p-0">
                          <div class="gift-card">
                            <div class="gift-card-icon">
                              <img src="/assets/images/howit1.svg" alt="">
                            </div>
                            <div class="row h-100">
                              <div class="col-12">
                                <div class="gift-card-desc">
                                  <span>Chose a gift that the couple will love - It is a service for couples getting
                                    married where they can create a list of gifts they would like to receive on their
                                    wedding</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col p-0">
                          <div class="card-number">
                            <span> 1 </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                    <div class="gift-icon">
                      <img src="/assets/images/howit1.svg" alt="icon">
                    </div>
                  </div>
                </div>
                <div class="row card-gap revers-flow">
                  <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                    <div class="gift-icon">
                      <img src="/assets/images/howit1.svg" alt="icon">
                    </div>
                  </div>
                  <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                    <div class="gift-desc">
                      <div class="row h-100">
                        <div class="col p-0">
                          <div class="card-number right-number">
                            <span> 2 </span>
                          </div>
                        </div>
                        <div class="col p-0">
                          <div class="gift-card right-number">
                            <div class="gift-card-icon">
                              <img src="/assets/images/howit1.svg" alt="">
                            </div>
                            <div class="row h-100">
                              <div class="col-12">
                                <div class="gift-card-desc">
                                  <span>Save your guests from the confusion of choosing a gift and last minute rush to
                                    stores</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row card-gap">
                  <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                    <div class="gift-desc">
                      <div class="row h-100">
                        <div class="col p-0">
                          <div class="gift-card">
                            <div class="gift-card-icon">
                              <img src="/assets/images/howit1.svg" alt="">
                            </div>
                            <div class="row h-100">
                              <div class="col-12">
                                <div class="gift-card-desc">
                                  <span>Gifts need to find a place in couple’s home, not in your  regifting basket -
                                    Avoid gifting repetitive products</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col p-0">
                          <div class="card-number">
                            <span> 3 </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                    <div class="gift-icon">
                      <img src="/assets/images/howit1.svg" alt="icon">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="how-it-work-container">
          <div class="row">
            <div class="col">
              <div class="how-it-work-card">
                <div class="row">
                  <div class="col">
                    <div class="head-title">
                      <span>HOW IT WORKS</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="how-body">
                      <div class="row">
                        <div class="col">
                          <div class="how-it-list">
                            <ul class="row">
                              <li class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                                <div class="how-it-step">
                                  <div class="row">
                                    <div class="col">
                                      <div class="how-it-icon">
                                        <img src="./../../../assets/images/howit1.svg">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col">
                                      <div class="how-it-desc">
                                        <span>Explore and choose options from products across various categories to
                                          create couple’s wishlist</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </li>
                              <li class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                                <div class="how-it-step">
                                  <div class="row">
                                    <div class="col">
                                      <div class="how-it-icon">
                                        <img src="./../../../assets/images/howit2.svg">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col">
                                      <div class="how-it-desc">
                                        <span>Explore and choose options from products across various categories to
                                          create couple’s wishlist</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </li>
                              <li class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                                <div class="how-it-step">
                                  <div class="row">
                                    <div class="col">
                                      <div class="how-it-icon">
                                        <img src="./../../../assets/images/howit3.svg">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col">
                                      <div class="how-it-desc">
                                        <span>Explore and choose options from products across various categories to
                                          create couple’s wishlist</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </li>
                              <li class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                                <div class="how-it-step">
                                  <div class="row">
                                    <div class="col">
                                      <div class="how-it-icon">
                                        <img src="./../../../assets/images/howit4.svg">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col">
                                      <div class="how-it-desc">
                                        <span>Explore and choose options from products across various categories to
                                          create couple’s wishlist</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
