<div class="gift-registry">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="gift-banner">
          <div class="row">
            <div class="col p-0">
              <div class="gift-image">
                <div class="gift-text">
                  <div class="row">
                    <div class="col">
                      <span>“What is gift registry</span>
                      <span>and Why gift registry”</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="git-btn">
                        <!-- [routerLink]="['/registry']" -->
                        <button class="btn btn-white btn-round" (click)="openRegister()">Add Registry </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="git-step">
          <div class="row">
            <div class="col">
              <div class="gift-card-container">
                <div class="row card-gap">
                  <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                    <div class="gift-desc">
                      <div class="row h-100">
                        <div class="col p-0">
                          <div class="gift-card">
                            <div class="gift-card-icon">
                              <img src="/assets/images/step_1_image.png" alt="">
                            </div>
                            <div class="row h-100">
                              <div class="col-12">
                                <div class="gift-card-desc">
                                  <span>Chose a gift that the couple will love - It is a service for couples getting
                                    married where they can create a list of gifts they would like to receive on their
                                    wedding</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col p-0">
                          <div class="card-number">
                            <span> 1 </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                    <div class="gift-icon">
                      <img src="/assets/images/step_1_image.png" alt="icon">
                    </div>
                  </div>
                </div>
                <div class="row card-gap revers-flow">
                  <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                    <div class="gift-icon">
                      <img src="/assets/images/step_2_image.png" alt="icon">
                    </div>
                  </div>
                  <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                    <div class="gift-desc">
                      <div class="row h-100">
                        <div class="col p-0">
                          <div class="card-number right-number">
                            <span> 2 </span>
                          </div>
                        </div>
                        <div class="col p-0">
                          <div class="gift-card right-number">
                            <div class="gift-card-icon">
                              <img src="/assets/images/step_2_image.png" alt="">
                            </div>
                            <div class="row h-100">
                              <div class="col-12">
                                <div class="gift-card-desc">
                                  <span>Save your guests from the confusion of choosing a gift and last minute rush to
                                    stores</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row card-gap">
                  <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                    <div class="gift-desc">
                      <div class="row h-100">
                        <div class="col p-0">
                          <div class="gift-card">
                            <div class="gift-card-icon">
                              <img src="/assets/images/step_2_image.png" alt="">
                            </div>
                            <div class="row h-100">
                              <div class="col-12">
                                <div class="gift-card-desc">
                                  <span>Gifts need to find a place in couple’s home, not in your  regifting basket -
                                    Avoid gifting repetitive products</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col p-0">
                          <div class="card-number">
                            <span> 3 </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                    <div class="gift-icon">
                      <img src="/assets/images/step_3_image.png" alt="icon">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="how-it-work-container">
          <div class="row">
            <div class="col">
              <div class="how-it-work-card">
                <div class="row">
                  <div class="col">
                    <div class="head-title">
                      <span>HOW IT WORKS</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="how-body">
                      <div class="row">
                        <div class="col">
                          <div class="how-it-list">
                            <ul class="row">
                              <li class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                                <div class="how-it-step">
                                  <div class="row">
                                    <div class="col">
                                      <div class="how-it-icon">
                                        <img src="assets/images/howit2.svg">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col">
                                      <div class="how-it-desc">
                                        <span>Explore and choose options from products across various categories to
                                          create couple’s wishlist</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </li>
                              <li class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                                <div class="how-it-step">
                                  <div class="row">
                                    <div class="col">
                                      <div class="how-it-icon">
                                        <img src="assets/images/howit1.svg">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col">
                                      <div class="how-it-desc">
                                        <span>Update multiple addresses to deliver the gift right to the couple’s
                                          address</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </li>
                              <li class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                                <div class="how-it-step">
                                  <div class="row">
                                    <div class="col">
                                      <div class="how-it-icon">
                                        <img src="assets/images/howit4.svg">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col">
                                      <div class="how-it-desc">
                                        <span>Make your gift registry live to your guests by sharing the generated link
                                          over whatsapp and other communication modes</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </li>
                              <li class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                                <div class="how-it-step">
                                  <div class="row">
                                    <div class="col">
                                      <div class="how-it-icon">
                                        <img src="assets/images/howit3.svg">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col">
                                      <div class="how-it-desc">
                                        <span>Track the progress and see the gifts purchased by your guests on our
                                          portal</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="registerRegistry" role="dialog" aria-hidden="true" tabindex="-1" #ceremonyModelPopUp>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Create Registry</h4>
        <button type="button" class="close mat-button" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <form class="ngform mb-0" [formGroup]="registry" (ngSubmit)="addRegistryForm()">
        <div class="modal-body">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-mg-6 col-sm-12">
              <div class="form-group label-floating"
                [ngClass]="{ 'is-fill': registry.controls['registry_start_date'].value, 'is-invalid': !registry.controls['registry_start_date'].valid}">
                <input class="form-control" [min]="minDateStart" [max]="maxDateStart"
                  formControlName="registry_start_date" [owlDateTimeTrigger]="start_date" [owlDateTime]="start_date"
                  (dateTimeChange)="dateChangeStart()">
                <owl-date-time [pickerType]="'calendar'" #start_date></owl-date-time>
                <label class="control-label">Start Date</label>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-mg-6 col-sm-12">
              <div class="form-group label-floating"
                [ngClass]="{ 'is-fill': registry.controls['registry_end_date'].value, 'is-invalid': !registry.controls['registry_end_date'].valid}">
                <input class="form-control" [min]="minDateEnd" formControlName="registry_end_date"
                  [owlDateTimeTrigger]="start_end" [owlDateTime]="start_end" (dateTimeChange)="dateChangeEnd()">
                <owl-date-time [pickerType]="'calendar'" #start_end></owl-date-time>
                <label class="control-label">End Date</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-mg-6 col-sm-12">
              <div class="form-group label-floating"
                [ngClass]="{ 'is-fill': registry.controls['registry_owner'].value, 'is-invalid': !registry.controls['registry_owner'].valid}">
                <textarea autocomplete="off" aria-autocomplete="none" class="form-control"
                  formControlName="registry_owner" type="text"></textarea>
                <label class="control-label">Registry Owner</label>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-mg-6 col-sm-12">
              <div class="form-group label-floating"
                [ngClass]="{ 'is-fill': registry.controls['address'].value, 'is-invalid': !registry.controls['address'].valid}">
                <textarea autocomplete="off" aria-autocomplete="none" class="form-control"
                  formControlName="address" type="text"></textarea>
                <label class="control-label">Shipping Address</label>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <div class="row">
            <div class="col">
              <div class="form-group text-right">
                <button type="button" class="btn btn-danger btn-round mat-button mr-2"
                  data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info btn-round mat-button mr-2"
                  (click)="skipRegister()">Skip</button>
                <button class="btn btn-success btn-round" [disabled]="!registry.valid">Register</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
