.btn {
  position: relative;
  padding: 12px 30px;
  margin: 0 auto;
  min-width: auto;
  font-size: 1rem; //  12px
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  text-transform: capitalize;
  vertical-align: middle;
  letter-spacing: 0;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: 0;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: box-shadow, transform;
  @include undo-bs-tab-focus();

  &.btn-round {
    border-radius: 30px;
  }

  &.btn-primary {
    background: $brand-primary;
    color: $white;

    &:hover {
      @include box-shadow-color($brand-primary);
    }
    &:focus {
      background: $brand-primary;
      @include box-shadow-color($brand-primary);
    }
  }
}

.form-check-radio {
  display: block;
  position: relative;
  padding-right: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    display: none;
  }
  .checkmark {
    position: absolute;
    top: 3px;
    right: 4px;
    height: 20px;
    width: 20px;
    background-color: $brand-primary;
    border-radius: 50%;
    &input:checked ~ .checkmark:after {
      display: block;
    }
    &:after {
      content: "";
      position: absolute;
      display: none;
      top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
    }
  }
  &:hover input ~ .checkmark {
    background-color: #ccc;
  }
  input:checked ~ .checkmark {
    border: 5px solid #4b4b4b;
  }
}
