$brand-primary: rgb(242, 191, 43) !default;
$brand-primary-text : rgba(110, 123, 137, 1) !default;
$brand-info : rgb(113, 186, 241) !default;
$brand-success : rgb(60, 168, 113) !default;
$brand-warning : rgb(255, 178, 54) !default;
$brand-danger : rgb(184, 36, 41) !default;
$brand-inverse : rgb(60, 72, 88) !default;
$brand-secoundry : rgba(48, 214, 190, 1) !default;
$brand-skyblue : rgba(35, 193, 215, 1) !default;
$brand-slight-black : rgba(17, 35, 54, 1) !default;
$white: #fff !default;
$black: #000 !default;


// primary gradian

$color-g-primary-1: rgb(20, 58, 82) !default;
$color-g-primary-2: rgb(43, 85, 130) !default;

$bmd-shadow-umbra-opacity: 0.2 !default;
$bmd-shadow-penumbra-opacity: 0.14 !default;
$bmd-shadow-ambient-opacity: 0.12 !default;
