@font-face {
  font-family: "Lato-Regular";
  src: url("/assets/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato-Medium";
  src: url("/assets/fonts/Lato-Medium.ttf");
}

@font-face {
  font-family: "Lato-Semibold";
  src: url("/assets/fonts/Lato-Semibold.ttf");
}

$lato-Regular: "Lato-Regular";
$lato-medium: "Lato-Medium";
$Lato-Semibold: "Lato-Semibold";

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0px;
  margin: 0;
  background-color: $white;
  font-family: $lato-Regular;
}
img {
  width: 100%;
  height: 100%;
}
:focus {
  outline: none !important;
}
a:focus,
button:focus {
  outline: none;
  box-shadow: none;
}
.brand-logo {
  cursor: default;
  height: 40px;
  display: block;
  width: 40px;
  background: $brand-primary;
  border-radius: 50%;
  position: relative;
  color: $white;
  text-align: center;
  padding: 5px;
  margin: 0 auto;
  font-family: $Lato-Semibold;
}
.wrapper {
  margin-top: 55px;
}
