<div class="row most-popular">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <div class="most-popular-title">
      <span>Most Popular</span>
    </div>
  </div>
  <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 m-auto">
    <!-- Slider main container -->
    <!-- "node_modules/swiper/js/swiper.min.js" -->
    <!-- Swiper -->
    <div class="swiper-container most-popular-swiper">
      <div class="swiper-wrapper">
        <div *ngFor="let product of inventoryList; let i = index" class="swiper-slide">
          <div class="mp-box" (click)="itemDetails(product)">
            <div class="mp-box-card">
              <div class="mp-description">
                <div class="mp-title">
                  <span>{{product.title}}</span>
                </div>
                <div class="mp-prize">
                  <span>₹{{product.price}}</span>
                </div>
              </div>
              <div class="mp-image">
                <img [src]="product.image_url ? product.image_url : 'assets/images/placeholder.png'">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
<div class="row gr-items">
  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6" *ngFor="let product of inventoryList; let i = index">
    <div class="gr-items-box" (click)="itemDetails(product)">
      <div class="gr-items-card">
        <div class="gr-items-icon">
          <img [src]="product.image_url ? product.image_url : 'assets/images/placeholder.png'">
        </div>
        <div class="gr-items-description">
          <div class="gr-item-name">
            <span>{{product.title}}</span>
          </div>
          <div class="gr-item-details">
            <span>{{product.description}}</span>
          </div>
          <div class="gr-item-prize">
            <span>₹{{product.price}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row most-popular">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <div class="most-popular-title">
      <span>HOME ESSENTIALS</span>
    </div>
  </div>
  <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 m-auto">
    <div class="swiper-container product-swiper">
      <div class="swiper-wrapper">
        <div *ngFor="let product of inventoryList; let i = index" class="swiper-slide">
          <div class="mp-box" (click)="itemDetails(product)">
            <div class="mp-box-card">
              <div class="mp-description">
                <div class="mp-title">
                  <span>{{product.title}}</span>
                </div>
                <div class="mp-prize">
                  <span>₹{{product.price}}</span>
                </div>
              </div>
              <div class="mp-image">
                <img [src]="product.image_url ? product.image_url : 'assets/images/placeholder.png'">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
